<div class="options-container">
  <div class="options" [ngClass]="{'transform-right' : transform, '': !transform}">
    <div class="option first-aid">
      <img src="../../../assets/images/first-aid-kit.svg" alt="">
    </div>
    <div class="option wheelchair">
      <img src="../../../assets/images/wheelchair-access.svg" alt="">
    </div>
    <div class="option elevator">
      <img src="../../../assets/images/elevator.svg" alt="">
    </div>
    <div class="option shop">
      <img src="../../../assets/images/fork.svg" alt="">
    </div>
    <div class="option printer">
      <img src="../../../assets/images/printer.svg" alt="">
    </div>
    <div class="option changing-room">
      <img src="../../../assets/images/hanger.svg" alt="">
    </div>
    <div class="option wc">
      <p>WC</p>
    </div>
  </div>
</div>
