<div class="navigation-container">

  <div class="nav-image">
    <img src="../../../assets/images/navi-points1.svg" alt="points">
  </div>
  <div class="nav-points">
    <div class="nav-start">
      <input type="text" placeholder="{{'navigation-panel.text1' | translate}}"
             [(ngModel)]="searchingService.leftSearchFilter"
             (click)="searchingService.leftInputState=1"
              [ngClass]="searchingService.leftInputState == 2 ? 'inactive-input' : ''"
      >
    </div>
    <div class="nav-destination">
      <input type="text" placeholder="{{'navigation-panel.text2' | translate}}"
             [(ngModel)]="searchingService.leftSearchFilter2"
             (click)="searchingService.leftInputState=2"
              [ngClass]="searchingService.leftInputState == 1 ? 'inactive-input' : ''">
    </div>
  </div>
</div>
