

.location {
  margin-left: 2rem;
  margin-top: 1.5rem;
  height: 2rem;
  display: inline-block;
  color: #fff;
  font-size: 0.7rem;
  z-index: 3;
  position: absolute;
}

.label  {
  display: inline-block;
  float: left;
}

.button-box {
  margin-left: 0.7rem;
  display: inline-block;
  float: left;
}

