<div class="restaurant-container">
  <div class="text">
    <p>{{'restaurant.title' | translate}}</p>
  </div>
  <div class="image-container">
    <div class="image">
      <img src="../../../assets/images/restaurant.jpg" alt="">
    </div>
    <div class="address">
      <p>{{'restaurant.street' | translate}} gen. w. andersa 1</p>
    </div>
  </div>
  <div class="menu-container" (click)="onClickMenu()">
    <div class="menu">
      <img src="../../../assets/images/menu.svg" alt="">
      <p>Menu</p>
    </div>
    <div class="menu-text-info">
      <p>({{'restaurant.menu-click' | translate}})</p>
    </div>
  </div>

</div>
