<div class="restaurant-container">
  <div class="text">
    <p>Restauracja uniwersytecka</p>
  </div>
  <div class="image-container">
    <div class="image">
      <img src="../../../assets/images/restaurant.jpg" alt="">
    </div>
    <div class="address">
      <p>ul. gen. w. andersa 1</p>
    </div>
  </div>
  <div class="menu-container">
    <div class="menu">
      <img src="../../../assets/images/menu.svg" alt="">
      <p>Menu</p>
    </div>
    <div class="clickable">
      <p>Kliknij, aby zobaczyć</p>
    </div>
  </div>

</div>
