<div class="div-container">
  <div class="location-container" (clickOutside)="onClose()">
    <div class="text">
      <p> Zmień lokalizację </p>
    </div>
    <div class="locations">
      <table class="table-locations">
        <tr class="floors-item" (click)="onClickItem(0)">
          <td [ngClass]="{'active' : LocationService.locationState == 0}" >Kaliskiego</td>
        </tr>
        <tr class="floors-item" (click)="onClickItem(1)">
          <td [ngClass]="{'active' : LocationService.locationState == 1}">Bernardyńska</td>
        </tr>
        <tr class="floors-item" (click)="onClickItem(2)">
          <td [ngClass]="{'active' : LocationService.locationState == 2}">Fordońska</td>
        </tr>
        <tr class="floors-item" (click)="onClickItem(3)">
          <td [ngClass]="{'active' : LocationService.locationState == 3}">Kordeckiego</td>
        </tr>
        <tr class="floors-item" (click)="onClickItem(4)">
          <td [ngClass]="{'active' : LocationService.locationState == 4}">Mazowiecka</td>
        </tr>
        <tr class="floors-item" (click)="onClickItem(5)">
          <td [ngClass]="{'active' : LocationService.locationState == 5}">Seminaryjna</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="close-button" (click)="onClose()">
    <img src="../../assets/images/x.png" alt="">
  </div>
</div>

