.weather-cointaner {
  margin: 2%;
  width: 96%;
  background-color: white;
  height: 12.5%;
  text-align: center;
  border: .05rem solid #b5b5b5;

}

.weather {
  width: 100%;
  /*line-height: 100%;*/
  /*height: 100%;*/
}

.weather p {
  position: relative;
  display: inline;
  /*vertical-align: center;*/
  float: left;
  font-weight: 700;
  font-size: 1.2rem;
  margin: 0 10%;
  color: #1b272e;
  max-width: 40%;
  min-width: 40%;
  text-align: left;
  background-color: orangered;
}


#celsius {
  font-size: 2rem;
  background-color: green;

}
