.weather-cointaner {
  margin: 2%;
  width: 96%;
  background-color: white;
  height: 12.5%;
  text-align: center;
  border: .05rem solid #b5b5b5;
  position: relative;
}

.weather-city, .weather-celsius {
  display: inline-block;

  height: 100%;
  text-align: left;
  float: left;
  color: #1b272e;

}

.weather-city {
  width: 30%;
}

.weather-city p {
  margin-top: 25%;
  margin-left: 30%;
  font-weight: 600;

}

.weather-celsius {
  width: 30%;
  text-align: center;
  margin-left: 5%;
}

.weather-celsius p {
  margin-top: 15%;
  font-size: 1.8rem;
  font-weight: 700;

}



#celsius {

}

.weather-image {
  display: inline-block;
  width: 30%;
  height: 100%;
  float: right;

}

.weather-image img {
  max-width: 70%;
  min-width: 70%;
  display: block;

}

.update-text {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: right;
  font-size: .7rem;
  font-style: italic;
  padding: 1%;
}

.update-text p {

}
