<div class="div-container">
  <div class="text">
    <p>Najczęściej odwiedzane</p>
  </div>

  <div class="most-visited">
    <div class="most-visited--item">
      <p>Sklepik / Automaty</p>
      <div class="image-container">
        <img src="../../../assets/images/coffee-machines.png" alt="">
      </div>
    </div>
    <div class="most-visited--item">
      <p>Auditorium Novum</p>
      <div class="image-container">
        <img src="../../../assets/images/Auditorium-novum.png" alt="">
      </div>
    </div>
    <div class="most-visited--item">
      <p>Czytelnia</p>
      <div class="image-container">
        <img src="../../../assets/images/library.png" alt="">
      </div>
    </div>
  </div>
</div>
