<div class="div-container">
  <div class="text">
    <p>Najczęściej odwiedzane</p>
  </div>

  <div class="most-visited">
    <div class="most-visited--item" [ngClass]="{ 'active' : activeState==1}">
      <p>Sklepik /</p><p>Automaty</p>
    </div>
    <div class="most-visited--item" [ngClass]="{ 'active' : activeState==2}">
      <p>Auditorium</p><p> Novum</p>
    </div>
    <div class="most-visited--item" [ngClass]="{ 'active' : activeState==3}">
      <p>Czytelnia</p>
    </div>
  </div>

  <div class="images-container">
      <div class="image-container" (click)="activeState=1">
        <img [ngClass]="{ 'active' : activeState==1}" src="../../../assets/images/coffee-machines.png" alt="">
      </div>
      <div class="image-container" (click)="activeState=2">
        <img  [ngClass]="{ 'active' : activeState==2}" src="../../../assets/images/Auditorium-novum.png" alt="">
      </div>
      <div class="image-container" (click)="activeState=3">
        <img  [ngClass]="{ 'active' : activeState==3}" src="../../../assets/images/library.png" alt="">
      </div>
  </div>

  <div class="buttons-container">
    <div class="button-container" [ngClass]="{ 'hidden' : activeState!=1}">
      <div class="navi btn" ><img src="../../../assets/images/navigation.svg" alt=""></div>
      <div class="wheelchair btn"><img src="../../../assets/images/wheelchair-access-white.svg" alt=""></div>
      <p>Nawiguj</p>
    </div>
    <div class="button-container" [ngClass]="{ 'hidden' : activeState!=2}">
      <div class="navi btn"><img src="../../../assets/images/navigation.svg" alt=""></div>
      <div class="wheelchair btn"><img src="../../../assets/images/wheelchair-access-white.svg" alt=""></div>
      <p>Nawiguj</p>
    </div>
    <div class="button-container" [ngClass]="{ 'hidden' : activeState!=3}">
      <div class="navi btn"><img src="../../../assets/images/navigation.svg" alt=""></div>
      <div class="wheelchair btn"><img src="../../../assets/images/wheelchair-access-white.svg" alt=""></div>
      <p>Nawiguj</p>
    </div>
  </div>
</div>
