.container {
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  text-align: center;
  animation: fade-in 0.1s linear;
}

@keyframes fade-in  {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.transform-box {
  visibility: hidden;
  width: 50%;
  height: 100%;
  margin-left: 25%;
}

.info-box {
  visibility: visible;
  display: inline-block;
  text-align: left;
  width: 50%;
  height: auto;
  background-color: white;
  margin-top: 20%;
  border-radius: 5px;
  animation: show-up 0.1s linear;
}

@keyframes show_up  {
  0% {
    width: 10%;
  }
  100% {
    width: 25%;
  }
}

.title {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #323c44;
  text-align: center;
  display: table;
  position: relative;
  width: 100.3%;

}

.img {
  display: inline-block;
  position: relative;
  width: 15%;
  height: 100%;
  float: left;
}

.img img {
  max-height: 100%;
  max-width: 100%;
  color: white;
  padding: 25%;
}

.name {
  padding: 5%;
  display: table;
  width: 85%;
  height: 100%;
  position: relative;
  float: left;
  font-size: 1rem;
  color: white;
}

.name p{
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}

.information, .email {
  font-size: 0.8rem;
  margin-top: 3%;
}

.information {
  padding-bottom: 3%;
  border-bottom: 2px solid #e6e6e6;
}

.row {
  margin-left: 3%;
  width: 100%;
  display: inline-block;
  padding: 1%;
  font-weight: 300;
}

.email {
  margin-bottom: 5%;
}

.button-box {
  display: inline-block;
  width: 100%;
  height: 10%;
  text-align: right;
}

.room-label {
  width: 40%;
  position: relative;
  float: left;
  display: inline-block;
}

.button-room-box {
  display: inline-block;
  position: relative;
  float: left;
  width: 50%;
  height: 10%;
  text-align: left;
}

.navi-button, .room-button {
  margin: 1% 3%;
  width: 30%;
  height: 80%;
  background-color: #323c44;
  border-radius: 4px;
  border-width: 0;
  cursor: pointer;
  text-align: center;
  padding: 1%;
  transition: all;
  transition-duration: 0.2s;
  display: table;
  position: relative;
  float: right;
}

.room-button {
  width: 60%;
  height: 100%;
  margin-right: 5%;
}

.navi-button:hover, .room-button:hover {
  background-color: #1b272e;
}

.navi-button label, .room-button label {
  display: table-cell;
  vertical-align: center;
  color: white;
  font-size: .8rem;
  cursor: pointer;
  position: relative;
  float: left;
  padding: 1%;
  transform: translateY(15%);
}

.navi-button img, .room-button img {
  display: table-cell;
  vertical-align: center;
  max-width: 20%;
  max-height: 20%;
  margin-left: 5%;
  margin-right: 10%;
  position: relative;
  float: left;
  padding: 1%;
}

.transform-right {
  transform: translateX(25%);
}

#consultations {
  display: block !important;
  font-weight: 300;
}

#margin-bottom {
  margin-bottom: 2%;
}

.row p {
  display: inline;
  font-weight: 500;
}



@media only screen and (max-width: 1000px) {
  .transform-box {
    width: 100%;
    margin: 5% 0 0;
  }

  .info-box {
    width: 75%;
    margin-top: 0;
  }

  .transform-right {
    transform: none;
  }

}

@media only screen and (min-width: 500px) and (max-width: 1000px) {
  .name, .information, .email {
    font-size: 1.5rem;
  }

  .navi-button label, .room-button label {
    font-size: 1.3rem;
  }
}
