<ng-container *ngIf="searchingService.employeeInfoData !== null">
  <div class="container">
    <div class="transform-box" [ngClass]="{'transform-right' : transform, '': !transform }">
      <div class="info-box"
           (clickOutside)="closeInfoBox(); " >
        <div class="title">
          <div class="img">
            <img src="../../../assets/images/employee-white.svg" alt="employee">
          </div>
          <div class="name">
            <p>{{searchingService.employeeInfoData?.firstName}} {{searchingService.employeeInfoData?.lastName}}</p>
          </div>
        </div>
        <div class="information" *ngFor="let item of searchingService.employeeInfoData?.additionalData">
          <ng-container *ngIf="item.unitName !== null && item.unitName !== ''">
            <div class="row">
              <p>{{'info-panel.unit' | translate}}</p> {{item.unitName}}
            </div>
          </ng-container>
          <ng-container *ngIf="item.subUnitName !== null && item.subUnitName !== ''">
            <div class="row">
              <p>{{'info-panel.subUnit' | translate}}</p> {{item.subUnitName}}
            </div>
          </ng-container>
          <ng-container *ngIf="item.job !== null && item.job !== ''">
            <div class="row">
              <p>{{'info-panel.job' | translate}}</p> {{item.job}}
            </div>
          </ng-container>
          <ng-container *ngIf="item.building !== null && item.building !== ''">
            <div class="row">
              <p>{{'info-panel.building' | translate}}</p> {{item.building}}, {{item?.campus}}
            </div>
          </ng-container>
          <ng-container *ngIf="item.room !== null && item.room !== ' '">
            <div class="row">
              <div class="room-label">
                <p>{{'info-panel.room' | translate}}</p> {{item.room}}, {{item.floor}}
              </div>
              <div class="button-room-box" *ngIf="item.roomSpaceManagerId !== null">
                <button class="room-button" type="button"
                (click)="navigateToEmployeeRoom(item.roomSpaceManagerId).then()"
                >
                  <img src="../../../assets/images/navigation.svg" alt="navigate">
                  <label>{{'list-searching.navigate' | translate}}</label>
                </button>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="item.phoneNumber !== null && item.phoneNumber !== ''">
            <div class="row">
              <p>{{'info-panel.phoneNumber' | translate}}</p> {{item.phoneNumber}}
            </div>
          </ng-container>
          <ng-container *ngIf="searchingService.consultations !== null && searchingService.consultations.length !== 0">
            <div class="row">
              <p>{{'info-panel.consultations' | translate}}</p>
              <ng-container *ngFor="let subItem of searchingService.consultations">
                <ng-container *ngFor="let i of subItem | keyvalue">
                  <p id="consultations">{{i.key}}: {{i.value.from}}-{{i.value.to}} </p>
                </ng-container>
              </ng-container>
            </div>
          </ng-container>
        </div>
        <div class="email">
          <div class="row">
            <p>{{'info-panel.email' | translate}}</p> {{searchingService.employeeInfoData?.aliasUTP['0']}}
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>


<ng-container *ngIf="searchingService.roomInfoData !== null
              && searchingService.roomInfoData['0'] !== null">
  <div class="container">
    <div class="transform-box" [ngClass]="{'transform-right' : transform, '': !transform }"
    >
      <div class="info-box"
           (clickOutside)="closeInfoBox(); ">
        <div class="title">
          <div class="img">
            <img src="../../../assets/images/door-white.svg" alt="room">
          </div>
          <div class="name">
            <p>{{searchingService?.roomInfoData['0'].roomNumber}}</p>
          </div>
        </div>
        <div class="information" id="margin-bottom">
          <ng-container *ngIf="searchingService?.roomInfoData['0'].campusName !== null
           && searchingService?.roomInfoData['0'].campusName !== undefined">
            <div class="row">
              <p>{{'info-panel.campus' | translate}}</p> {{searchingService?.roomInfoData['0'].campusName}}
            </div>
          </ng-container>
          <ng-container *ngIf="searchingService?.roomInfoData['0'].departmentName !== null
           && searchingService?.roomInfoData['0'].departmentName !== ''">
            <div class="row">
              <p>{{'info-panel.unit' | translate}}</p> {{searchingService?.roomInfoData['0'].departmentName}}
            </div>
          </ng-container>
          <ng-container *ngIf="searchingService?.roomInfoData['0'].roomMinorUnit !== null
           && searchingService?.roomInfoData['0'].roomMinorUnit !== ''">
            <div class="row">
              <p>{{'info-panel.subUnit' | translate}}</p> {{searchingService?.roomInfoData['0'].roomMinorUnit}}
            </div>
          </ng-container>
          <ng-container *ngIf="searchingService?.roomInfoData['0'].buildingName !== null
          && searchingService?.roomInfoData['0'].buildingName !== ''">
            <div class="row">
              <p>{{'info-panel.building' | translate}}</p> {{searchingService?.roomInfoData['0'].buildingName}}
            </div>
          </ng-container>
          <ng-container *ngIf="searchingService?.roomInfoData['0'].floorName !== null
          && searchingService?.roomInfoData['0'].floorName !== ''">
            <div class="row">
              <p>{{'info-panel.floor' | translate}}</p> {{searchingService?.roomInfoData['0'].floorName}}
            </div>
          </ng-container>
          <ng-container *ngIf="searchingService?.roomInfoData['0'].buildingAddress !== null
          && searchingService?.roomInfoData['0'].buildingAddress !== ''">
            <div class="row">
              <p>{{'info-panel.address' | translate}}</p> {{searchingService?.roomInfoData['0'].buildingAddress}}
            </div>
          </ng-container>

        </div>
        <div class="button-box">
          <button class="navi-button" type="button" (click)="navigateToRoom(searchingService?.roomInfoData[0].campusId,
            searchingService?.roomInfoData[0].floorName,
            searchingService?.roomInfoData[0].roomId).then()">
            <img src="../../../assets/images/navigation.svg" alt="navigate">
            <label>{{'list-searching.navigate' | translate}}</label>
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>


