<div class="floors" [ngClass]="{'transform-right' : transform, '': !transform}">
  <div class="floors-background">
    <div class="line"></div>
    <div class="text-floors">
      <table class="table-floors">
        <tr>
          <td><div class="triangle" [ngClass]="{'hidden' : floorState!=3}" ></div></td>
          <td><p><button class="astext" (click)="onClickFloor(3)" [ngClass]="{'active' : floorState==3}">Piętro 3</button></p></td>
        </tr>
        <tr>
          <td><div class="triangle" [ngClass]="{'hidden' : floorState!=2}"></div></td>
          <td><p><button class="astext" (click)="onClickFloor(2)" [ngClass]="{'active' : floorState==2}">Piętro 2</button></p></td>
        </tr>
        <tr>
          <td><div class="triangle" [ngClass]="{'hidden' : floorState!=1}"></div></td>
          <td><p><button class="astext" (click)="onClickFloor(1)" [ngClass]="{'active' : floorState==1}">Piętro 1</button></p></td>
        </tr>
        <tr>
          <td><div class="triangle" [ngClass]="{'hidden' : floorState!=0}"></div></td>
          <td><p><button class="astext" (click)="onClickFloor(0)" [ngClass]="{'active' : floorState==0}">Parter</button></p></td>
        </tr>
        <tr>
          <td><div class="triangle" [ngClass]="{'hidden' : floorState!=-1}"></div></td>
          <td><p><button class="astext" (click)="onClickFloor(-1)" [ngClass]="{'active' : floorState==-1}">Piwnica</button></p></td>
        </tr>
      </table>

    </div>
  </div>

</div>
