<div class="floors">
  <div class="line"></div>
  <div class="text-floors">
    <table class="table-floors">
      <tr>
        <td><div class="triangle" hidden></div></td>
        <td><p><button class="astext">Piętro 3</button></p></td>
      </tr>
      <tr>
        <td><div class="triangle" hidden></div></td>
        <td><p><button class="astext">Piętro 2</button></p></td>
      </tr>
      <tr>
        <td><div class="triangle" hidden></div></td>
        <td><p><button class="astext">Piętro 1</button></p></td>
      </tr>
      <tr>
        <td><div class="triangle"></div></td>
        <td><p><button class="astext active">Parter</button></p></td>
      </tr>
      <tr>
        <td><div class="triangle" hidden></div></td>
        <td><p><button class="astext">Piwnica</button></p></td>
      </tr>
    </table>

  </div>
</div>
