<div class="floors" [ngClass]="{'transform-right' : transform, '': !transform}">
  <div class="floors-background">
    <div class="line"></div>
    <div class="text-floors">
      <table class="table-floors">
        <tr *ngIf="LocationService.locationState==6">
          <td><div class="triangle" [ngClass]="{'hidden' : FloorsService.floorState!=4}" ></div></td>
          <td><p><button class="astext" (click)="onClickFloor(4)"
                         [ngClass]="{'active' : FloorsService.floorState==4}">{{'floor.f4' | translate}}</button></p></td>
        </tr>
        <tr>
          <td><div class="triangle" [ngClass]="{'hidden' : FloorsService.floorState!=3}" ></div></td>
          <td><p><button class="astext" (click)="onClickFloor(3)"
                         [ngClass]="{'active' : FloorsService.floorState==3}">{{'floor.f3' | translate}}</button></p></td>
        </tr>
        <tr>
          <td><div class="triangle" [ngClass]="{'hidden' : FloorsService.floorState!=2}"></div></td>
          <td><p><button class="astext" (click)="onClickFloor(2)"
                         [ngClass]="{'active' : FloorsService.floorState==2}">{{'floor.f2' | translate}}</button></p></td>
        </tr>
        <tr>
          <td><div class="triangle" [ngClass]="{'hidden' : FloorsService.floorState!=1}"></div></td>
          <td><p><button class="astext" (click)="onClickFloor(1)"
                         [ngClass]="{'active' : FloorsService.floorState==1}">{{'floor.f1' | translate}}</button></p></td>
        </tr>
        <tr>
          <td><div class="triangle" [ngClass]="{'hidden' : FloorsService.floorState!=0}"></div></td>
          <td><p><button class="astext" (click)="onClickFloor(0)"
                         [ngClass]="{'active' : FloorsService.floorState==0}">{{'floor.f0' | translate}}</button></p></td>
        </tr>
        <tr *ngIf="LocationService.locationState!=5 && LocationService.locationState !=6">
          <td><div class="triangle" [ngClass]="{'hidden' : FloorsService.floorState!=-1}"></div></td>
          <td><p><button class="astext" (click)="onClickFloor(-1)"
                         [ngClass]="{'active' : FloorsService.floorState==-1}">{{'floor.f-1' | translate}}</button></p></td>
        </tr>
      </table>

    </div>
  </div>

</div>
