
.floors {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0 0 4rem 4rem;
  width: 26%;
  z-index: 3;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.0,0.0,0.2,1);
  visibility: hidden;

}

.floors-background {
  position: relative;
  visibility: visible;
  background-color: rgba(27, 39, 46, 0.2);
  width: 30%;
  height: 50%;
  z-index: 3;
  display: inline-block;
  transform: translate(-2%);
}

table {
  visibility: visible;
  border: none;
  transform: translateX(-2px);
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  border-left: 1px solid white;
}

table td {
  padding: 0.3rem;
  text-align: left;
}

table tr td:first-child {
  width: 0.1rem;
  padding: 0;
}

table tr td:last-child p {
  margin-left: 2rem;
}

p:not(:first-child) {
  margin-top: 0.3rem;
}

.triangle {
  visibility: visible;
  width: 0;
  height: 0;
  transform: translateY(2px);
  border-top: 0.5rem solid transparent;
  border-left: 1rem solid white;
  border-bottom: 0.5rem solid transparent;
  position: relative;
  float: left;
}

.text-floors {
  visibility: visible;
  position: relative;
  float: left;
  display: inline-block;
}

.astext {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
}

.astext:active, .astext:hover {
  color: white;
}

.active {
  color: white !important;
  font-weight: 600;
}

.transform-right {
  transform: translateX(100%);
}

.hidden {
  display: none;
}
