:host-context (.transform-right) {
  transform: translateX(100%);
}


@media only screen and (max-width: 1000px) {
  app-bus, app-left-menu, app-navi-options, app-floors,
   app-language, app-footer, app-location, app-sizing-map{
    display: none;
    visibility: hidden;
  }
}

@media only screen and (min-width: 1001px) {
  app-floors-mobile, app-location-mobile, app-left-menu-mobile, app-change-floors{
    display: none;
    visibility: hidden;
  }
}
