<!--left side-->
<app-left-menu (emitStateMenu)="onTransform($event)" ></app-left-menu>
<app-floors [transform]="transform"></app-floors>
<app-location [transform]="transform"></app-location>
<!--middle-->
<app-navi-options [transform]="transform"></app-navi-options>
<app-searching [transform]="transform"></app-searching>
<app-change-location *ngIf="LocationService.showLocation"></app-change-location>
<app-menu-restaurant *ngIf="MenuRestaurantService.showMenu"></app-menu-restaurant>

<!--right side-->
<app-sizing-map></app-sizing-map>
<app-scan-legitimation-text></app-scan-legitimation-text>
<app-bus></app-bus>
<app-language></app-language>



<!--bottom-->
<app-footer></app-footer>
