.container {
  margin: 2%;
  width: 96%;
  background-color: white;
  height: 20%;
  text-align: center;
  border: .05rem solid #b5b5b5;
  position: relative;
  color: #1b272e;
  text-transform: uppercase;
}

.text {
  display: block;
  position: relative;
  width: 100%;
  height: 15%;
}
.text p {
  margin-top: 5%;
  font-size: .8rem;
  font-weight: 600;
}

#no-results {
  font-size: .7rem;
  margin-top: 5%;
  color: #71706f;
  text-transform: lowercase;
}

ul {
  width: 100%;
  height: 60%;
  position: relative;
  display: inline-block;
  overflow: auto;
  margin-top: 1%;

}

li {
  width: 100%;
  height: 30%;
  background-color: white;
  list-style-type: none;
  transition: all;
  transition-duration: 0.1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

li:hover{
  background-color: #f6f6f6;
}

.item-info {
  position: relative;
  width: 60%;
  text-align: center;
  display: flex;
  /*align-items: left;*/
  justify-content: left;
  float: left;
  margin-left: 5%;
}

.item-info p {
  display: inline;
}

.navi-button-container {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
  float: left;
}

.select-button {
  padding: 5%;
  font-size: 0.5rem;
  color: white;
  opacity: 0.5;
  display: inline-block;
  width: 50%;
  height: 100%;
  border: none;
  cursor: pointer;
  text-align: center;
  transition: all;
  transition-duration: 0.2s;
  text-decoration: none;
  background-color: #1b272e;
  border-radius: 1px;
}

li:hover .select-button  {
  opacity: 1;
}

.small-text {
  margin-left: 3%;
  font-size: 0.6rem;
  color: #c3c2c1;
}
