<div class="left-menu-container" [ngClass]="{ 'show': transform, 'noshow': !transform}">
  <app-logo></app-logo>
  <app-last-search-rooms></app-last-search-rooms>
  <!--<app-navigation-panel></app-navigation-panel>-->
  <!--<app-search-panel></app-search-panel>-->
  <app-most-visited></app-most-visited>
  <app-restaurant></app-restaurant>
</div>
<div class="button-container" [ngClass]="{ 'open-button': transform, 'hide-button': !transform}">
  <div class="button" (click)="toggleMenu()">
    <div class="triangle" [ngClass]="{ 'triangle-right': transform, 'triangle-left': !transform}"></div>
  </div>
</div>



