<div class="bus-background" (click)="openState = !openState" [ngClass]="{ 'active-background' : openState, 'inactive-background' : !openState }"></div>
<div class="bus-menu" [ngClass]="{ 'open-menu' : openState, '' : !openState }">
  <div class="menu">
    <div class="top">
      <div class="top-title"><p>Rozkład jazdy tramwajów/autobusów</p></div>
      <div class="top-time"><p>{{ time | date:'HH:mm'}}</p></div>
    </div>

    <div class="image">
      <img src="../../assets/images/tram.jpg" alt="tramwaj">
    </div>

    <div class="bus-numbers">

    </div>

    <div class="timetable">

    </div>

  </div>
</div>
<div class="bus-button-container" [ngClass]="{ 'open-button' : openState, '' : !openState }">
  <div class="bus-button" (click)="openState = !openState">
    <div class="bus-icon">
      <img src="../../assets/images/bus.svg" alt="bus">
    </div>
  </div>
</div>
