.bus-button {
  position: fixed;
  float: left;
  right: 0;
  top: 0;
  background-color: #efeeed;
  width: 1.7rem;
  height: 3.5rem;
  margin-top: 10rem;
  border-top-left-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
  cursor: pointer;
}

.bus-icon {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 1.4rem;
  max-height: 1.4rem;
}
