* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html body {
  width: 100% !important;
  height: 100vh !important;
}

body {
  background-color: #1b272e;
  top: 0;
  left: 0;
  font-family: 'Montserrat', 'sans-serif';
}

html {
  /* base font size */
  font-size: 16px;
}

p, div, img, td{
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none;   /* Firefox all */
  -ms-user-select: none;  /* IE 10+ */
  user-select: none;  /* Likely future */
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 4px;
  }
}


@media only screen and (min-width: 500px) {
  html {
    font-size: 6px;
  }
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 8px;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 9px;
  }
}

@media only screen and (min-width: 992px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1100px) {
  html {
    font-size: 13px;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1300px) {
  html {
    font-size: 15px;
  }
}
@media only screen and (min-width: 1400px) {
  html {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1500px) {
  html {
    font-size: 17px;
  }
}

@media only screen and (min-width: 1600px) {
  html {
    font-size: 20px;
  }
}


/* button as text */
.astext {
  color: #fff;
  font-family: "Montserrat Bold" , sans-serif;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: 0.7rem;
}

.astext:focus, .astext:visited {
  outline: 0;
}



@font-face {

}




