.search-container {
  width: 100%;
  margin-top: 1rem;
  text-align: center;
  z-index: 4;
  color: #1b272e;
}

.search-panel {
  width: 51%;
  display: inline-block;
  background-color: white;
  position: relative;
  border-radius: 10px;
  z-index: 4;
}

@media only screen and (max-width: 1000px) {
  .search-container {
    top: 0;
    left: 0;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    z-index: 2 !important;

    text-align: left;
  }

  .search-panel {
    width: 100%;
    border-radius: 0;
    transition: none !important;
  }

  .transform-right {
    transform: none !important;
  }

  .dropdown {
    width: 100% !important;
  }

  .search-input {
    width: 70% !important;
    padding: 1.5rem .5rem;
  }

  .half-search-input {
    width: 35% !important;
    padding: 1.5rem 0;
  }

  .microphone {
    width: 7% !important;
    padding-left: 2%;
  }

  .options {
    padding-left: 2% !important;
    width: 7% !important;
  }

  .line {
    width: .1% !important;
  }

  .loupe {
    padding: 2% !important;
  }

  .loupe img {
    max-width: 2.6rem !important;
    max-height: 2.6rem !important;
  }

}

.search-panel table {
  width: 100%;
}

img {
  max-width: 2rem;
  max-height: 2rem;
}

.loupe {
  width: 10%;
  height: 2.3rem;
  padding: 1% 2%;
  cursor: pointer;
}

.loupe img {
  max-width: 2.3rem;
  max-height: 2.3rem;
}

.search-input, .half-search-input {
  margin: 1rem 0 1rem 1rem;
  width: 79%;
  text-align: left;
}

.half-search-input {
  width: 39.5%;
}

.search-input input {
  width: 100%;
  text-decoration: none;
  font-size: 1.2rem;
  border: transparent;
}

.half-search-input input {
  width: 80%;
  text-decoration: none;
  font-size: 1.2rem;
  border: transparent;
}

.search-input input:focus, .half-search-input input:focus{
  outline: none;
}

.microphone {
  width: 4%;
  height: 2.1rem;
  overflow: hidden;
  cursor: pointer;
}

.line {
  width: .3%;
  background-color: rgba(27, 39, 46, 0.4);
  text-align: center;
}

.options {
  width: 5%;
  height: 2rem;
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  position: relative;
  cursor: pointer;
}

.dropdown {
  width: 51%;
  display: inline-block;
  z-index: 2;
  position: relative;
  visibility: hidden !important;

}

.dropdown-menu {
  display: none;
  z-index: 2;
  float: right;
  background-color: white;
}

.dropdown-menu a {
  display: block;
  text-decoration: none;
  font-size: .9rem;
  padding: 0.7rem;
  cursor: pointer;
  text-align: center;
}

.dropdown-menu a:hover, .dropdown-menu a:active {
  background-color: #efeeed;
}

.display {
  display: inline-block;
  visibility: visible;
  z-index: 2;
}

.nodisplay {
  display: none;
  visibility: hidden;
}


.transform-right {
  transform: translateX(25%);
}

.search-panel {
  transition-property: transform, -webkit-transform;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.0,0.0,0.2,1);
}

