<div class="search-container" [ngClass]="minimizeButtonService.ifMinimize ? 'minimize' : ''">
  <div class="search-panel" [ngClass]="{'transform-right' : transform, '': !transform }">
    <table>
      <tr *ngVar="let unitItem;">
        <ng-container *ngIf="!mobileVersion">
          <td class="loupe">
            <img src="../../../assets/images/loupe.svg" alt="">
          </td>
        </ng-container>
        <ng-container *ngIf="mobileVersion">
          <td class="loupe" (click)="onShowMobileMenu()" type="button">
            <img src="../../../assets/images/3-lines.png" alt="">
          </td>
        </ng-container>

        <ng-container *ngIf="searchingService.searchingState==1">
          <td class="search-input">
            <input type="text"
                   #input
                   placeholder="{{'searching.search' | translate}}"
                   [(ngModel)]="this.message"
                   (input)="this.minimizeButtonService.ifMinimize = false;
                   this.searchingService.getRoomAndEmployeeData(input.value);"
            >
          </td>
        </ng-container>
        <ng-container *ngIf="searchingService.searchingState==2">
          <td class="half-search-input" [ngClass]="minimizeButtonService.ifMinimize ? 'minimize-mat-form' : ''">
            <mat-form-field>
              <mat-select placeholder="{{'searching.select-unit' | translate}}">
                <mat-option *ngFor="let item of searchingService.unitsData; let i of index"
                            [value]="item.nazwa"
                            (click)="clickedFirstOption(i, unitItem); unitItem = i"
                >{{item.nazwa}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td class="half-search-input" [ngClass]="minimizeButtonService.ifMinimize ? 'minimize-mat-form' : ''">
            <mat-form-field [ngClass]="this.unitSelected ? '' : 'inactive-form'">
              <mat-select placeholder="{{'searching.select-sub-unit' | translate}}" [(ngModel)]="unitOptionValue">
                <mat-option *ngFor="let item of unitItem?.listChildren"
                            [value]="item.nazwa"
                            (click)="clickedSubUnit(item.komorka_id)"
                >{{item.nazwa}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </ng-container>
        <ng-container *ngIf="searchingService.searchingState==3">
          <td class="one-third-search-input"
              [ngClass]="minimizeButtonService.ifMinimize ? 'minimize-mat-form' : ''">
            <mat-form-field>
              <mat-select placeholder="{{'searching.select-campus' | translate}}">
                <mat-option *ngFor="let item of searchingService.campusData?.content"
                            [value]="item.name"
                            (click)="clickedCampus(item.id); "
                >{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td class="one-third-search-input" [ngClass]="minimizeButtonService.ifMinimize ? 'minimize-mat-form' : ''">
            <mat-form-field [ngClass]="this.campusSelected ? '' : 'inactive-form'">
              <mat-select placeholder="{{'searching.select-building' | translate}}" [(ngModel)]="buildingOptionValue">
                <mat-option *ngFor="let item of searchingService.buildingData"
                            [value]="item.name"
                            (click)="clickedBuilding(item.id); "
                >{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td class="one-third-search-input"
              [ngClass]="minimizeButtonService.ifMinimize ? 'minimize-last-mat-form' : ''">
            <mat-form-field [ngClass]="this.buildingSelected ? '' : 'inactive-form'">
              <mat-select placeholder="{{'searching.select-floor' | translate}}" [(ngModel)]="floorOptionValue">
                <mat-option *ngFor="let item of searchingService.floorData"
                            (click)="clickedFloor(item.id);"
                            [value]="item.name">{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </ng-container>
        <ng-container *ngIf="searchingService.searchingState == 1">
          <td class="microphone" (click)="microphone()" type="button"
              ngClass="{{this.started ? 'micro-enable' : ''}}">
            <img src="../../../assets/images/microphone.svg" alt="micro">
          </td>
        </ng-container>
        <td class="line"></td>
        <td class="options" (click)="click()" type="button">
          <img src="../../../assets/images/down-arrow.svg" alt="">
        </td>
      </tr>
    </table>
  </div>

  <div class="dropdown" [ngClass]="{ 'transform-right-dropdown' : transform, '': !transform} ">
    <div class="dropdown-menu" (clickOutside)="closeMenu()" [clickOutsideEvents]="'click,touchstart'"
         [ngClass]="{'display': display, 'nodisplay': !display}">
      <a (click)="dropdownClick(1)">{{'searching.searching' | translate}}</a>
      <a (click)="dropdownClick(2)">{{'searching.employee' | translate}}</a>
      <a (click)="dropdownClick(3)">{{'searching.room' | translate}}</a>
    </div>

  </div>

</div>

