<div class="search-container" [ngClass]="minimizeButtonService.ifMinimize ? 'minimize' : ''" >
  <div class="search-panel" [ngClass]="{'transform-right' : transform, '': !transform }" >
    <table>
      <tr>
        <ng-container *ngIf="!mobileVersion">
          <td class="loupe">
            <img src="../../../assets/images/loupe.svg" alt="">
          </td>
        </ng-container>
        <ng-container *ngIf="mobileVersion">
          <td class="loupe" (click)="onShowMobileMenu()" type="button">
            <img src="../../../assets/images/3-lines.png" alt="">
          </td>
        </ng-container>

        <ng-container *ngIf="searchingState==1">
          <td class="search-input">
            <input type="text" placeholder="{{'searching.search' | translate}}">
          </td>
        </ng-container>
        <ng-container *ngIf="searchingState==2">
          <td class="half-search-input">
            <input type="text" placeholder="{{'searching.name' | translate}}">
          </td>
          <td class="half-search-input">
            <input type="text" placeholder="{{'searching.email' | translate}}">
          </td>
        </ng-container>
        <ng-container *ngIf="searchingState==3">
          <td class="half-search-input">
            <input type="text" placeholder="{{'searching.audience' | translate}}">
          </td>
          <td class="half-search-input">
            <input type="text" placeholder="{{'searching.building' | translate}}">
          </td>
        </ng-container>
        <td class="microphone" (click)="microphone()" type="button">
          <img src="../../../assets/images/microphone.svg" alt="micro">
        </td>
        <td class="line"></td>
        <td class="options" (click)="click()" type="button">
          <img src="../../../assets/images/down-arrow.svg" alt="">
        </td>
      </tr>
    </table>

  </div>

  <div class="dropdown"
       [ngClass]="{ 'transform-right' : transform, '': !transform } ">
    <div class="dropdown-menu" (clickOutside)="closeMenu()" [clickOutsideEvents]="'click,touchstart'"
         [ngClass]="{'display': display, 'nodisplay': !display}"
    >
      <a (click)="searchingState = 1; display=false">{{'searching.searching' | translate}}</a>
      <a (click)="searchingState = 2; display=false">{{'searching.employee' | translate}}</a>
      <a (click)="searchingState = 3; display=false">{{'searching.room' | translate}}</a>
    </div>
  </div>

</div>

