.scan-box {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 1.8rem;
  margin-right: 1rem;
  width: 23rem;
  height: 2rem;
  font-size: 0.7rem;
  color: white;
  font-weight: 500;
  text-align: right;
  visibility: hidden;
}
.scan-box p {
  visibility: visible;
}

.scan-img {
  visibility: visible;
  max-height: 1rem;
  max-width: 1rem;
  margin-right: 0.5rem;
}

