<div class="div-container">
  <div class="floors-container" (clickOutside)="onClose()">
    <div class="text">
      <p> Zmień piętro </p>
    </div>
    <div class="floors">
      <table class="table-floors">
        <tr class="floors-item" (click)="onClickItem(3)">
          <td [ngClass]="{'active' : FloorsService.floorState == 3}">3 piętro</td>
        </tr>
        <tr class="floors-item" (click)="onClickItem(2)">
          <td [ngClass]="{'active' : FloorsService.floorState == 2}">2 piętro</td>
        </tr>
        <tr class="floors-item" (click)="onClickItem(1)">
          <td [ngClass]="{'active' : FloorsService.floorState == 1}">1 piętro</td>
        </tr>
        <tr class="floors-item" (click)="onClickItem(0)">
          <td [ngClass]="{'active' : FloorsService.floorState == 0}">Parter</td>
        </tr>
        <tr class="floors-item" (click)="onClickItem(-1)">
          <td [ngClass]="{'active' : FloorsService.floorState == -1}">Piwnica</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="close-button" (click)="onClose()">
    <img src="../../../assets/images/x.png" alt="">
  </div>
</div>

